{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block body %}
  <h1>Get started</h1>

  <form action="{{ url_for('index')}}", method="POST">
    <div>
      {{ form.username(class_='form-control',
         placeholder='Username', autocomplete='off',
         autofocus=true)}}

      <ul>
        {% for error in form.username.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>

    </div>
    <div>
      {{ form.password(class_='form-control',
         placeholder='Password')}}

       <ul>
         {% for error in form.password.errors %}
           <li>{{ error }}</li>
         {% endfor %}
       </ul>

    </div>
    <div>
      {{ form.confirm_pswd(class_='form-control',
         placeholder='Confirm Password')}}

       <ul>
         {% for error in form.confirm_pswd.errors %}
           <li>{{ error }}</li>
         {% endfor %}
       </ul>

    </div>
    <div>
      {{ form.submit_button }}
    </div>
    <!-- Protecting from CSRF Attack, using Secret Key only-->
    {{ form.csrf_token }}

  </form>
{% endblock %}
